:root {
  --ship-size: 10vmin;
  
  --sky-color: #1C1740;
  --ship-color: #F9E2FE;
  --ship-cap-color: crimson;
  --ship-wing-color: #4C3198;
  --ship-window-trim-color: #4C3198;
  --ship-booster-color: #C38382;
  --star-color: white;
  
  --stars-sm-speed: 5s;
  --stars-md-speed: 2s;
  --stars-lg-speed: 1s;
}

@function star-generator($amount) {
  $value: (random(200) * 1vw) (random(200) * 1vh) var(--star-color);
  
  @for $i from 2 through $amount {
    $value: #{$value}, (random(200) * 1vw) (random(200) * 1vh) var(--star-color);
  }

  @return $value;
}





.ship {
  position: absolute;
  top: 60%;
  left: 50%;
  scale:1.7;
  will-change: transform;
  transition: transform 0.4s ease;
  transform: translate(-50%, -50%);
}






// Ship
.ship .wrapper {
  display: flex;
}

.ship .body {
  position: relative;
  background-color: var(--ship-color);
  border-radius: 0 0 50% 50% / 76% 76% 15% 15%;
  
  
  
  &:before {
    content: '';
    position: absolute;
    border-radius: 50% 50% 50% 50% / 76% 76% 25% 25%;
    
    
  }
}

.ship .main {
  width: var(--ship-size);
  height: calc(var(--ship-size) * 1.5);
  box-shadow: inset rgba(black, 0.15) -0.5vmin 0 2vmin 0;
  
  
  
  &:before {
    bottom: 80%;
    width: 100%;
    height: 75%;
    right:0;
    background-color: inherit;
    box-shadow: inset rgba(black, 0.15) -0.5vmin 1vmin 1vmin 0;
    
  }
  
  &:after {
    content: '';
    position: absolute;
    bottom: 75%;
    left: 0;
    right: 0;
    margin: auto;
    border: calc(var(--ship-size) / 15) solid var(--ship-window-trim-color);
    width: calc(var(--ship-size) / 1.8);
    height: calc(var(--ship-size) / 1.8);
    box-shadow: 
      inset rgba(black, 0.075) -2vmin -2vmin 0 0,
      inset rgba(black, 0.1) -1vmin -1.5vmin 0 0;
    border-radius: 100%;
    
  }
}

.ship .side {
  width: calc(var(--ship-size) / 4);
  height: var(--ship-size);
  box-shadow: 
    inset rgba(black, 0.1) -0.5vmin 0 1vmin 0,
    inset rgba(black, 0.1) 0.5vmin 0 1vmin 0;
    
  
  &:before {
    bottom: 80%;
    right:0px;
    width: 100%;
    height: 45%;
    background-color: var(--ship-cap-color);
    box-shadow: 
      inset rgba(black, 0.2) -0.5vmin 1vmin 1vmin 0,
      inset rgba(white, 0.2) 0.5vmin 1vmin 1vmin 0;
      
  }
  
  &.left {
    left: 0px;
    
  }
  
  &.right {
    right: 0px;
  }
}

.ship .wing {
  position: absolute;
  bottom: 2vmin;
  background-color: var(--ship-wing-color);
  width: calc(var(--ship-size) / 2);
  height: calc(var(--ship-size) / 1.5);
  z-index: 1;
  box-shadow: 
    inset rgba(black, 0.1) -0.5vmin 1vmin 1vmin 0,
    inset rgba(white, 0.1) 0.5vmin 1vmin 1vmin 0;
  
  &.left {
    right: 100%;
    border-radius: 100% 0 10% 10%;
  }
  
  &.right {
    left: 100%;
    border-radius: 0 100% 10% 10%;
  }
}

.ship .booster {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(var(--ship-size) / 1.2);
  height: calc(var(--ship-size) / 2.5);
  background-color: var(--ship-booster-color);
  border-radius: 0 0 50% 50% / 76% 76% 35% 35%;
  z-index: -1;
  box-shadow: 
    inset rgba(black, 0.3) -0.5vmin 1vmin 1vmin 0,
    inset rgba(white, 0.3) 0.5vmin 1vmin 1vmin 0,
    black 0 0 2vmin;
}

.ship .exhaust {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(var(--ship-size) / 1.4);
  height: 80%;
  border-radius: 0 0 100% 100%;
  background-image: 
    linear-gradient(
      to bottom,
      yellow,
      transparent 70%
    );
  z-index: -2;
  transform-origin: 50% 0;
  animation: exhaust 0.1s linear alternate infinite;
}




// Animations
@keyframes stars {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  80%  { opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes exhaust {
  to { transform: scaleX(0.98) translateY(-1vmin); }
}

@keyframes speed-up-exhaust {
  from { transform: scale(0.98, 1); }
  to   { transform: scale(0.96, 1.5); }
}

@keyframes speed-up-ship {
  from { transform: translateY(-5%); }
  to   { transform: translateY(-3%); }
}
